.about .content h2 {
  font-weight: 700;
  font-size: 24px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 6px;
  color: var(--accent-color);
  line-height: 0;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin: 20px 0;
}

.resume .resume-item {
  padding-left: 20px;
  border-left: 2px solid var(--accent-color);
  position: relative;
  margin-bottom: 20px;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 0;
  width: 16px;
  height: 16px;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
  border-radius: 50%;
}
